rvm:
  - 2.3
  - 2.4
  - 2.5
  - 2.6
  - ruby-head
gemfile:
  - gemfiles/rails_4.2.gemfile
  - gemfiles/rails_5.0.gemfile
  - gemfiles/rails_5.1.gemfile
  - gemfiles/rails_5.2.gemfile
  - gemfiles/rails_6.0.0.rc1.gemfile
matrix:
  exclude:
    - rvm: 2.3
      gemfile: gemfiles/rails_6.0.0.rc1.gemfile
    - rvm: 2.4
      gemfile: gemfiles/rails_6.0.0.rc1.gemfile
  fast_finish: true
  allow_failures:
    - rvm: ruby-head
  include:
    - rvm: jruby
      env: JRUBY_OPTS="--1.9 --server -Xcext.enabled=true"
notifications:
  email: false
